.wrap {
    /* margin:0 10%;
    max-width:80%; */
    padding:10px 30px;
    position:relative;
    text-align: center;
    top:50%;
    /* transform:translateY(-50%);   */
  }
  #header {
    background-color: rgba(71, 71, 71, 0.1);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    backdrop-filter: blur(20px);
    z-index: 2;
    transition: top 0.2s ease-in-out;
 
  }
  #header .wrap {
    display:flex;
    align-items: center;
  }
  #header .nav-up {
    top: -100px;
  }
  
  #menu-wrap {
    background:rgba(71, 71, 71, 0.1);
    backdrop-filter: blur(20px);
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
  }
  .stripe {
    background:rgb(104,31,43);
    height:100vh;
    width:40px;
    position: absolute;
    left:0;
    top:0;
  }
  #menu-wrap .navigation {
      margin-left: 30px;
      padding-top: 1.875rem;
        overflow:hidden;
  }
  
  #menu-wrap .navigation ul {
      list-style: none;
      padding: 0;
      margin: 0 0 1.625rem;
      transition: opacity .3s ease-in;
  }
  
  #menu-wrap .navigation li {
      padding: 0;
      margin: 0;
      /* font-family: 'Oswald', sans-serif; */
      font-size: 30px;      
      text-transform: uppercase;      
  }
  
  #menu-wrap .navigation li:before {
      display: none;
  }
  
  #menu-wrap .navigation li a {
      color: #fff;
      text-decoration: none;
      transition: color .3s;
      position: relative;
      overflow: hidden;
      display: inline-block
  }
  
  #menu-wrap .navigation li a:hover {
      color: #fff
  }
  
  #menu-wrap .navigation li a span {
      position: absolute;
      left: -1px;
      overflow: hidden;
      /* background-color: #0ff; */
      width: 100%;
      display: block;
      transform: translate3d(-100%, 0, 0);
      animation: layer-out .3s ease-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden
  }
  
  #menu-wrap .navigation li a span:before {
      /* background-color: #0ff; */
      content: attr(data-text);
      width: 100%;
      display: block;
      transform: translate3d(100%, 0, 0);
      color: #fff;
      animation: text-out .3s ease-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden
  }
  
  #menu-wrap .navigation li a:hover span {
      animation: layer-in .3s ease forwards
  }
  
  #menu-wrap .navigation li a:hover span:before {
      animation: text-in .3s ease forwards
  }
  
  @keyframes layer-in {
      0% {
          transform: translate3d(-100%, 0, 0)
      }
      to {
          transform: translateZ(0)
      }
  }
  
  @keyframes layer-out {
      0% {
          transform: translateZ(0)
      }
      to {
          transform: translate3d(100%, 0, 0)
      }
  }
  
  @keyframes text-in {
      0% {
          transform: translate3d(100%, 0, 0)
      }
      to {
          transform: translateZ(0)
      }
  }
  
  @keyframes text-out {
      0% {
          transform: translateZ(0)
      }
      to {
          transform: translate3d(-100%, 0, 0)
      }
  }

  .hamburger {
    display:flex;
    flex-wrap:wrap;
    height: 30px;
    width: 30px;
    margin-left:auto;
    cursor: pointer;
  }
  .hamburger .line{
    background:#fff;
    width:100%;
    height: 4px;
  }
  .hamburger .line.top{
    align-self: flex-start;
  }
  .hamburger .line.middle{
    align-self: center;
  }
  .hamburger .line.bottom{
    align-self: flex-end;
  }