#portfolio .grid-portfolio {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagem-1 imagem-1 imagem-2 imagem-2 imagem-3"
        "imagem-4 imagem-4 imagem-4 imagem-5 imagem-3"
        "imagem-4 imagem-4 imagem-4 imagem-5 imagem-6";
}

#portfolio .imagem-1 {
    grid-area: imagem-1;
}

#portfolio .imagem-2 {
    grid-area: imagem-2;
}

#portfolio .imagem-3 {
    grid-area: imagem-3;
}

#portfolio .imagem-4 {
    grid-area: imagem-4;
}

#portfolio .imagem-5 {
    grid-area: imagem-5;
}

#portfolio .imagem-6 {
    grid-area: imagem-6;
}

#portfolio img {
    width: 100%;
    height: 100%;
}

#portfolio {
    padding-top: 0;
}


/* ------------------- IMAGE ZOOM ------------------- */
.image-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}


/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}



/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

/* aligns caption to center */
.mfp-title {
    text-align: center;
    padding: 6px 0;
}

.image-source-link {
    color: #DDD;
}