#about{
    /* height: 900px; */
    padding: 100px 0px !important;
    background-size: cover;
}
.section-title{
    border-left: 4px solid rgb(104,31,43);
    margin-bottom: 2rem;
    display: inline-block;
    padding-left: 15px;
}
.section-title-maroon{
    border-left: 4px solid #fff !important;
    margin-bottom: 2rem;
    color: #fff;
    width: 30%;
}
.card-about{
    padding: 70px 0px;
    background-color: rgb(104,31,43);
    color: #fff;
    line-height: 2rem;
}
