@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 1280px) {
    .banner-inner {
        width: unset;
    }
}
@media screen and (max-width: 992px) {
    .main-header .header-right {
        display: none;
    }
    .banner-inner {
        width: unset;
    }
}
@media screen and (max-width: 767px) {
    .banner-inner {
        display: flex;
        flex-direction: column;
        width: unset;
    }
    .section-title-maroon{
        width: 50%;
    }
    .card-about .col-lg-10{
        text-align: center;
    }
    footer {
        display: flex;
        flex-direction: column;
        width: unset !important;
    }
    footer span {
        justify-self: center;
        color: #fafafa;
    }
    
    footer .footer-img-link {
        display: flex;
        justify-content: center;
    }
    footer .footer-img-link img {
        width: 100px;
        height: 50px;
    }
    .sm-mb-5 {
        margin-bottom: 10px;
    }
    #portfolio .grid-portfolio {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "imagem-1 imagem-1 imagem-2 imagem-2"
            "imagem-4 imagem-4 imagem-4 imagem-4"
            "imagem-4 imagem-4 imagem-4 imagem-4"
            "imagem-4 imagem-4 imagem-4 imagem-4"
            "imagem-3 imagem-3 imagem-5 imagem-5"
            "imagem-3 imagem-3 imagem-5 imagem-5"
            "imagem-6 imagem-6 imagem-6 imagem-6";
    }
    section .container {
        padding-inline: 0;
    }
    #about {
        padding-block: 10px !important;
    }
    #values {
        width: 100%;
        padding-bottom: 1.5rem !important;
    }
    .form-label {
        margin-bottom: 0.2rem;
    }
    .form-control {
        height: 50px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 400px) {
    
}