@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 1280px) {
    
}
@media screen and (max-width: 992px) {
    .main-header .header-right {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .banner-inner {
        display: flex;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    footer span {
        justify-self: center;
        color: #fafafa;
    }
    
    footer .footer-img-link {
        display: flex;
        justify-content: center;
    }
    footer .footer-img-link img {
        width: 100px;
        height: 50px;
    }
    .sm-mb-5 {
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 400px) {
    
}