/* #681f2b */
/* #808077 */


body {
    margin: 0;
    padding: 0;
}
#bannerInitial {
    background: url('../images/ben-wicks-4y_LlKIcDgI-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}