
.cardWrapper{
    width:100% !important;
    height:400px !important;
    position:relative;
    float:left;
    margin-right:10px;
    cursor:pointer;
    -webkit-font-smoothing:antialiased;
  }
  
  .cardFace{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100% !important;
    height:400px !important;
    overflow:hidden;
    /* background-color: rgba(0, 0, 0, .2); */
  }
  
  .bg-value1 .front{
      background-image: url(../images/values1.jpeg);
      background-size: cover;

  }
  
  .bg-value1 .back{
      background-image: url(../images/values1-back.jpeg);
      background-position: center center;
      background-size: cover;
  }
  
  .bg-value2 .front{
    background-image: url(../images/values2.jpeg);
    background-size: cover;
    background-position: center;
  }
  .bg-value2 .back{
    background-image: url(../images/values2-back.jpeg);
    background-size: cover;
    background-position: center;
  }
  .bg-value3 .front{
    background-image: url(../images/values3.jpeg);
    background-position: center center;
    background-size: cover;
  }
  .bg-value3 .back{
    background-image: url(../images/values3-back.jpeg);
    background-position: center center;
    background-size: cover;
  }
  
  .cardFace h1{
    margin:0px;
    font-size:30px;
    padding:10px 0px 10px 10px;
    color:white;
    z-index: 1;
  }
  
  
  .cardFace.back h1{
   border-color:#91e600;
  }
  
  .moreInfo{
    padding:10px;
    color:white;
    line-height:24px;
    
  }